@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-dark: 119 109 138;
        --color-light: 243 230 227;
        --color-content: 219 227 229;
        --color-accent1: 211 192 154;
        --color-accent2: 179 143 73;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-light: 119 109 138;
            --color-dark: 243 230 227;
            --color-content: 219 227 229;
            --color-accent1: 211 192 154;
            --color-accent2: 179 143 73;
        }
    }
}
